md-content
	md-tabs(md-dynamic-height, md-border-bottom)
		md-tab(label='แดชบอร์ด')
			md-content.md-padding
				h1 Dash Board
		md-tab(label='เพิ่มรายวิชา')
			md-content.md-padding
				h1 Add New Course
		md-tab(label='ดูรายวิชา')
			md-content.md-padding
				h1 View All Course
		md-tab(label='ตารางเรียนของฉํน')
			md-content.md-padding
				h1 My Schedule