// Angular Material
script(src='bower_components/angular/angular.min.js')
script(src='bower_components/angular-animate/angular-animate.min.js')
script(src='bower_components/angular-aria/angular-aria.min.js')
script(src='bower_components/angular-messages/angular-messages.min.js')
script(src='bower_components/angular-material/angular-material.min.js')
// App Module
script(src='app.modules.js')
script(src='components/core/core.module.js')
script(src='components/core/core.controller.js')