$border: 2px dashed #f0f0f0;

.time-table {
  border-collapse: collapse;
  margin-bottom: 8px;

  th,
  td {
    border: $border;
    height: 50px;
  }

  th:first-child,
  td:first-child {
    width: 65px;
    min-width: 65px;
    max-width: 65px;
    text-align: center;
  }

  th,
  td {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
  }
}

.wrapper-outer {
  display: table;
  table-layout: fixed;
  width: 100%;

  .wrapper-inner {
    display: table-cell;
    overflow-x: auto;
    width: 100%;
  }
}
