<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>SUT Schedule2</strong>
                ระบบจัดตารางเรียน มทส.
                เว็บไซต์นี้จัดทำขึ้นเพื่อให้นักศึกษาได้วางแผนการเรียนก่อนลงทะเบียนเรียนจริงเท่านั้น
            </p>
            <p>
                <a
                    class="icon"
                    href="https://www.facebook.com/fdron"
                    target="_blank"
                >
                    <i class="fa fa-facebook"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
