<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <div class="right item">
                <a routerLink="/sign-in" class="ui button">ล็อกอิน</a>
                <a routerLink="/sign-up" class="ui inverted button">สมัครใช้งาน</a>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            SUT Schedule2
        </h1>
        <h2>ระบบจัดตารางเรียน [มทส.]</h2>
        <div class="ui huge primary button" routerLink="/main">
            เริ่มต้นใช้งาน <i class="right arrow icon"></i>
        </div>
    </div>
</div>