$sidebar-width: 240px;

@mixin _width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

.main-page {
  flex: 1 1;
  display: flex;
  overflow: hidden;
  padding: 0 0.5rem;
  height: 100%;
}

.sidebar {
  position: static;
  padding: 0 0.5rem;
  overflow-y: scroll;
  @include _width($sidebar-width);
  height: calc(100% - 120px);
}

.main-table {
  position: static;
  padding: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.actions-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 8px;

  a {
    background: lightblue;
    color: black;
    border-radius: 4px;
    border: 1px solid rgb(61, 195, 240);
    padding: 4px;
    margin: 2px;
    min-width: 90px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus,
    &.active-link {
      background: rgb(61, 195, 240);
      color: #fff;
      outline: 0;
    }
  }
}
